
<!DOCTYPE html>
<html
  xmlns:th="http//www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
><head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	
	// FormData 객체 생성
	var formData = new FormData();
	
	// JSON 데이터를 FormData에 추가
	formData.append('approved_at', info.approved_at);
	formData.append('partner_order_id', info.partner_order_id);
	formData.append('item_name', info.item_name);
	formData.append('quantity', info.quantity);
	formData.append('total_amount', info.amount.total);
	formData.append('payment_method_type', info.payment_method_type);
		
	$.ajax({
	    url: '/kakaoPayResult', 
	    type: 'POST', 
	    data: formData, 
	    processData: false,
	    contentType: false, 
	    success: function(response) {
	    	if(response >= 1){
	            alert('예약이 성공적으로 완료되었습니다.');
	            window.opener.location.href = "http://localhost:8099/kakaoPayResult";
	    	} else {
	    		console.log('예약실패');
	    	}
	    },
	    error: function(error) {
	        console.error('예약을 처리하는 도중 오류가 발생했습니다.');
	    }
	});
	window.opener.location.href = "http://localhost:8099/kakaoPayResult";
	window.close();
});
</script>
</head>
<body>
<form>
	<input id="close" type="button" value="close" th:value="[[${info.approved_at}]]">
	<input id="close" type="button" value="close" th:value="[[${info.partner_order_id}]]">
	<input id="close" type="button" value="close" th:value="[[${info.item_name}]]">
	<input id="close" type="button" value="close" th:value="[[${info.quantity}]]">
	<input id="close" type="button" value="close" th:value="[[${info.amount.total}]]">
	<input id="close" type="button" value="close" th:value="[[${info.payment_method_type}]]">
</form>어 나도
 
 <input id="close" type="button" value="close" th:onclick="test();">
 
<h2>[[${info}]]</h2>
 
</body>
</html>
