
<!DOCTYPE html>
<html
  xmlns:th="http//www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title>마이페이지</title>
    <style>
      .mypage-container {
        max-width: 768px;
        margin: auto;
      }

      .silver-hr {
        width: 100%;
        height: 1px;
        background: #a9aeb1;
        margin: 12px 0;
        opacity: 0.4;
      }

      h2 {
        margin-bottom: 0;
      }

      p {
        font-weight: 500;
        padding: 4px 0px;
      }

      .status-icon {
        border-radius: 50%;
        margin-bottom: 8px;
        background-color: rgb(247, 249, 250);
        font-size: 14px;
      }

      .status-process {
        width: 54px;
        height: 1px;
        margin-top: 8px;
        background-color: #a9aeb1;
        position: absolute;
        right: -51px;
      }

      .status {
        display: flex;
        align-items: center;
        color: rgb(141, 146, 151);
        font-weight: 500;
        position: relative;
      }

      .status-icon-active {
        color: royalblue;
        border: 1px solid transparent;
        background-color: lightblue;
        padding: 2px 4px;
        margin-bottom: 4px;
      }

      @keyframes blink-effect {
		  50% {
		    opacity: 0;
		  }
		}

		.blink {
		  animation: blink-effect 1s step-end infinite;
		
		}
    </style>
    <script>
      $(document).ready(function () {
        $(".tab").click(function () {
          $(".clicked-background").removeClass("clicked-background");
          $(this).addClass("clicked-background");
        });
      });
      
      function prec(){
    	  window.location.href = "/prescriptionDetail";
      }
    </script>
  </head>
  <div layout:fragment="content" class="mypage-container">
    <div class="spacing-height-16"></div>
    <div class="d-flex justify-content-between" style="gap: 32px">
      <div style="padding: 8px; width: 600px">
        <div class="mypage-details">
          <div
            style="
              text-align: center;
              padding: 8px;
            "
          >
            <h3>마이페이지</h3>
          </div>
          <div class="d-flex justify-content-between p-3" style="width:600px">
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500">5500P</div>
              <div>나의 포인트</div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500" th:text="${contactTotalCount}"></div>
              <div style="cursor: pointer" th:onclick="|location.href='@{medical-history-page}'|">나의 진료내역</div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center"
              style="flex: 1; flex-direction: column"
            >
              <div style="color: royalblue; font-weight: 500" th:text="${reviewTotalCount}"></div>
              <div style="cursor: pointer" th:onclick="|location.href='@{review-detail-page}'|">나의 리뷰내역</div>
            </div>
          </div>
          
          <!-- <div id="nomedical" style="display:none;"> -->
          <div class="silver-hr"></div>
          
          <div class="d-flex justify-content-between align-items-center" >
            <div><h4>진료 신청</h4></div>
              
            <div>
              <h6 style="color: red; cursor: pointer">진료 취소</h6>
            </div>
            
          </div>

		
          <div class="spacing-height-16"></div>
          
          
          <div
            class="status-container d-flex justify-content-center"
            style="gap: 80px"
          >
            <div class="status" style="flex-direction: column">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                  style="color: royalblue;")
                ></i>
              </div>
              <div >접수</div>	
              <div class="status-process"
               	style="width: 90px; right: -88px"
               ></div>
            </div>

            <div class="status" style="flex-direction: column">
              <div class="status-icon">
                <i class="fa-solid fa-circle" ></i>
              </div>
              <div class="status">접수완료</div>	<!-- 예약확인 처음 진료신청하고나면 -->
              <div
                class="status-process"
                style="width: 90px; right: -89px"
              ></div>
            </div>

            <div class="status" style="flex-direction: column">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                  style="color: rgb(141, 146, 151); 
                  			"
                ></i>
              </div>
              <div>진료실 입장</div>			<!-- 예약확정 예약승인누르면 -->
              <div
                class="status-process"
                style="width: 90px; right: -73px"
              ></div>
            </div>
            <div class="status" style="flex-direction: column">
              <div class="status-icon">
                <i
                  class="fa-solid fa-circle"
                  style="color: rgb(141, 146, 151)"
                ></i>
              </div>
              <div>종료</div>
            </div>
          </div>
          <div class="spacing-height-16"></div>
          <div
            style="
              background-color: royalblue;
              border-radius: 8px;
              padding: 16px;
            "
          >
            <div style="color: #fff">
              <span style="font-weight: 700">최대 6분 이내</span> 진료가
              시작되요
            </div>
            <div
              class="d-flex align-items-center p-2"
              style="gap: 16px; color: #fff"
            >
              <div>@@소아청소년과의원</div>
              <div
                style="width: 1px; height: 10px; background-color: #fff"
              ></div>
              <div>
                김은희 의사&nbsp;<i
                  class="fa-solid fa-circle-info"
                  style="color: #ece9e9"
                ></i>
              </div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center p-3"
              style="
                background-color: cornflowerblue;
                color: #fff;
                border-radius: 16px;
                opacity: 0.6;
                cursor:pointer;
              "
              th:onclick="|location.href='@{room-page(userEmail=${userEmail})}'|"

            >
            진료실 입장하기
            </div>
          </div>
          
          </div>
			
			
			<!-- 
			<div style="width:700px; height:150px;     border-radius: 8px; bold_
				    padding: 16px; display: inline;
				    text-align: center;">
    		<h2>진료신청중이 아닙니다.</h2>
    		</div>
    		-->
		
          
          <div class="silver-hr"></div>

          <div class="p-2 d-flex align-items-center justify-content-between">
            <div>
              <p>회원정보수정</p>
            </div>
            <div style="cursor: pointer" th:onclick="|location.href='@{infoUpdate-page}'|">
              <i 
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
          <div class="p-2 d-flex align-items-center justify-content-between" >
            <div style="cursor: pointer" >
              <p>나의 진료내역</p>
            </div>
            <div style="cursor: pointer">
              <i
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
          <div class="p-2 d-flex align-items-center justify-content-between">
            <div style="cursor: pointer">
              <p>나의 문의내역</p>
            </div>
            <div style="cursor: pointer">
              <i
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
          <div class="p-2 d-flex align-items-center justify-content-between">
            <div style="cursor: pointer" id="precs" onclick="prec()">
              <p>처방전</p>
            </div>
            <div style="cursor: pointer">
              <i
                class="fa-solid fa-chevron-right"
                style="color: rgb(141, 146, 151)"
              ></i>
            </div>
          </div>
        </div>
        <div class="spacing-height-16"></div>
        <div class="spacing-height-16"></div>
      </div>
    </div>
  </div>
</html>
