<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form id="prescriptionForm" action="/submit-prescription" method="post">
    <div>
        <label for="name">이름:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="socialSecurityNumber">주민번호:</label>
        <input type="text" id="socialSecurityNumber" name="socialSecurityNumber">
    </div>
    <div>
        <label for="hospitalName">병원이름:</label>
        <input type="text" id="hospitalName" name="hospitalName">
    </div>
    <div>
        <label for="medicalInstitutionNumber">요양기관번호:</label>
        < <input type="text" id="medicalInstitutionNumber" name="medicalInstitutionNumber">
    </div>
    <button type="submit"></button>
</form>
</body>
</html>